*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html
{

	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}
body{
	background-color:#121421;

}
.caption
{
	font-family: 'Courgette', cursive;
	font-size:15px;
	margin:20px;
	color:white;

}
.caption .s1{
	color:crimson;
}
a
{
	text-decoration: none;
	color:#eee;
}
header
{
	
	width:100%;
	background-size:cover;
	
}
.band
{
	font-weight:100;
	font-size:35px;
	color:white;
	font-family: 'Cinzel', serif;
	transform:translateX(100rem);
	animation: slideIn .5s forwards;	
}
.container
{
	transform:translateX(100rem);
	animation: slideIn .5s forwards;
	max-width: 150rem;
	width:90%;
	margin: 0 auto;

}
nav{
	padding-top: 3rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	text-transform:uppercase;
	font-size:1.6rem;
	
}
nav ul{
	display:flex;
}
nav ul li{
	list-style:none;
	transform:translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing:2px;
}
nav ul li a: last-child{
	margin-right:0;
}
nav ul li a::before,
nav ul li a::after{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color:crimson;
	left:0;
	transform:scaleX(0);
	transition: all .5s;
}
nav ul li a:before{
	top:0;
	transform-origin:left;
	
}
nav ul li a:after{
	bottom:0;
	transform-origin:right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
	transform:scaleX(1);
}
@keyframes slideIn{
	
	from{
		
	}
	to{
		transform: translateX(0);
	}	
}
.logo
{
	width:50%;
	margin-left:5%;
	margin-top:5%;
}
.logo .band
{
	font-weight:100;
	font-size:35px;
	color:white;
	font-family: 'Cinzel', serif;
}
.logo .band span
{
	color:crimson;
}
.caption
{
	font-family: 'Courgette', cursive;
	font-size:15px;
	margin:20px;
	color:white;

}
.caption .s1{
	color:crimson;
}

.foot{
	width:100%;
	height:32%;
	background:#cc0066;
}
.social-icons
{
	margin-top:90px;
	position:relative;
	margin-left:-100px;
	text-align:center;
}
 .social-icons a
{
	margin-top:3%;
	display:inline-block;
	width:46px;
	height:46px;
	background:#262626;
	text-align:center;
	color:#fff;
	text-decoration:none;
	transition:0.5s;
	padding:2px 5px;
	border-radius:50%;
}
.social-icons a i
{	

	font-size:25px;
}
.social-icons a .fa
{
	line-height:38px;
	
}
.social-icons a:hover
{
	background:#e91e63;
}
.link
{
	width:100%;
	margin-top:3%;
	margin-left:1%;
}
.link span{
	color:white;
	font-size:15px;
	float:left;
}
.link a{
	transition:color 0.3s;
}
.link a:hover{
	color:blue;
}
.contacts{

display:inline;
float:right;
margin-right:2%;
}
.contacts span{
	color:white;
	font-size:19px;
	font-family:sans;

}

.item{
	float:left;
	margin-left:12%;
	margin-top:8%;
	float:left;
}
.content{
	width:100%;
	height:82%;
	margin-top:10%;
	color:white;

}
.name{
	font-size:35px;
	color:white;
}
.price{
	padding-bottom:4%;
	padding-top:3%;
	font-size:22px;
	color:crimson;
}
.desc{
	font-size:16px;
	color:silver;
	opacity:0.65;
	line-height:1.6;
	padding-bottom:5%;
}
.checkoutbutton{
	background:transparent;
	width:45%;
	height:20%;
	color:white;
	outline:none;
	font-size:18px;
	padding:12px;
	border:1px solid silver;
	border-radius:8px;
	transition:0.3s background-color;
}
.checkoutbutton:hover{
	background-color:crimson;
	cursor:pointer;
}
.cat{
	padding-top:3%;
	font-size:15px;
	color:white;
}
.tab {
  overflow: hidden;
  width:75%;
  margin-left:8%;
  border:none;
}
.tab .tablinks {
	color:#555;
	font-size:16px;
	padding:6px;
	margin-left:16px;
	background:none;
	outline:none;
	border:none;
	cursor:pointer;
	transition: color 0.2s;
}
.tab button.active{
	color:white;
}
.tab .tablinks:hover{
	color:#999;
}
/* Style the tab content */
.tabcontent {
  display: none;
  margin:30px;
  border: none;
  border-top: none;
  color:white;
  font-size:20px;
  margin-left:2%;
}
hr{
	padding-top:0.60%;
	width:100%;
	margin-left:2%;
	border-top:none;
	opacity:0.1;
}
input[type="text"],input[type="email"]{
padding:16px;
	color:white;
	font-size:15px;
	outline:none;
	border:1px solid #555;
	background-color:transparent;
	width:99%;
	height:100%;

}
input[type="checkbox"]{
	float:left;
}
textarea{
	border:1px solid #555;
	background:transparent;
	color:white;
	font-size:15px;
	outline:none;
}
.related{
	font-size:23px;
	color:white;
	
}
.addtocart{
	width:25%;
	height:35%;
	color:white;
}
.checkoutbutton1{
	padding:11px;
	width:42%;
	background:crimson;
	outline:none;
	border-radius:4px;
	color:white;
	border:1px solid grey;
	transition:0.3s background-color;
}
.checkoutbutton1:hover{
	background-color:green;
	cursor:pointer;
}